.CharacterMaker {
    min-width: 50rem;
    max-width: 75rem;
    background-color: rgba(255,255,255,0.25);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.CharacterMaker__Main {
    /* display: flex; */
    flex-direction: row;
}

.CharacterMaker__Form {
    width: 25rem;
    background-color: rgba(255,255,255,0.25);
    padding: 1rem;
    display: flex;
    gap:0.65rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CharacterMaker__Selector {
    margin: 0 1rem 0 0.5rem;
}

.CharacterMaker__FormCustomInput {
    width: 8rem;
}

.CharacterMaker__OutputArea {
    max-width: 26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-left: 4px solid rgba(0, 0, 0, 0.125);
}

.CharacterMaker__Output-Text {
    text-align: justify;
}

.CharacterMaker__Output-PortraitContainer {
    width: 256px;
    height: 256px;
    border: 4px solid black;

}

.CharacterMaker__Output-Portrait {}