.CharacterMaker {
    min-height: 60vh;
    background-color: rgba(255,255,255,0.25);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.CharacterMaker__Main {
    /* display: flex; */
    flex-direction: row;
    height: 100%;
}

.CharacterMaker__Form {
    width: 25rem;
    height: 100%;
    background-color: var(--primary-color-dark);
    padding: 1rem;
    display: flex;
    /* gap:1rem; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.CharacterMaker__Selector {
    margin: 0 1rem 0 0.5rem;
}

.CharacterMaker__FormCustomInput {
    width: 8rem;
}

.CharacterMaker__OutputArea {
    max-width: 26rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-left: 4px solid rgba(0, 0, 0, 0.125);
}

.CharacterMaker__Output-Text {
    text-align: justify;
}

.CharacterMaker__Output-PortraitContainer {
    width: 256px;
    height: 256px;
    border: 4px solid var(--black-color);
    background-color: var(--primary-color-dark);
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.CharacterMaker__Output-Portrait {}