* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --primary-color: #a7bbec;
  --primary-color-dark: #9097c0;
  --secondary-color: #705d56;
  --secondary-color-dark: #503b31;
  --black-color: #020202;
  --white-color: #f4f6f5;
}

body {
  background-color: var(--secondary-color-dark)
}

.App {
  text-align: center;
}

.App__Header {
  padding-top: 0px;
  height: 5vh;
  color: var(--white-color);
}

.App__Main {
  background-color: var(--secondary-color);
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  min-height: 2rem;
  max-height: 3.5rem;
  max-width: 8rem;
  padding: 5px 8px;
}